<launch>

    <!-- other args -->
  <arg name="standalone" default="true" />
  <arg name="debug" default="false" />
  <arg name="custom_config" default="" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <node name="param_server" pkg="nodelet" type="nodelet" args="standalone swarm/ParamServer" output="screen" launch-prefix="$(arg launch_prefix)">

    <rosparam file="$(find swarm)/config/param_server.yaml" />

      <!-- Load a user param file -->
    <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <!-- publishers -->
    <remap from="~params_out" to="~params" />

  </node>

</launch>
